<header class="p-3 text-bg-dark silkscreen mb-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="bi me-2" width="40" height="40" src="assets/gear.png"/>
        <span class="fs-4">Bike Speed Calculator</span>
      </a>
    </div>
  </div>
</header>

<div class="container silkscreen" role="main">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card text-bg-light mb-3">
        <div class="card-header">Indica los datos</div>
        <div class="card-body row">

          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Diámetro de la rueda</mat-label>
              <input matInput placeholder="700" [(ngModel)]="diameter">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Unidad</mat-label>
              <mat-select [(ngModel)]="unit">
                <mat-option selected value="mm">mm</mat-option>
                <mat-option value="inch">inch</mat-option>
              </mat-select>
            </mat-form-field>  
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Dientes del plato</mat-label>
              <input matInput placeholder="50" [(ngModel)]="dientesPlato">
            </mat-form-field>            
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Dientes del piñon</mat-label>
              <input matInput placeholder="11" [(ngModel)]="dientesPinon">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Cadencia</mat-label>
              <input matInput placeholder="60" [(ngModel)]="cadence">
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <button type="button" class="btn btn-dark" (click)="onCalculateSpeed()">Calcular</button>
            <button type="button" class="btn btn-light" (click)="onReset()">Borrar datos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Velocidad Calculada</div>
        <div class="card-body silkscreen">
          <p><span class="large-text">{{speedCalculated| number:'1.0-2'}}</span> km/h</p>
          <p>Distancia por pedalada: </p>
          <p><span class="mid-text">{{distancePerStroke| number:'1.0-2'}}</span> m</p>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="savedCalcs.length > 0">
      <div class="card text-bg-dark mb-3">
        <div class="card-header">Registros guardados</div>
        <div class="card-body silkscreen">

          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Diámetro rueda</th>
                <th scope="col">Dientes plato</th>
                <th scope="col">Dientes piñon</th>
                <th scope="col">Cadencia</th>
                <th scope="col">Distancia por pedalada</th>
                <th scope="col">Veolocidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let calc of savedCalcs">
                <td>{{calc.diameter}}</td>
                <td>{{calc.dientesPlato}}</td>
                <td>{{calc.dientesPinon}}</td>
                <td>{{calc.cadence}}</td>
                <td>{{calc.distancePerStroke| number:'1.0-2'}}</td>
                <td>{{calc.speedCalculated| number:'1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class=" my-3 pt-2 px-3 row text-bg-dark">
    <div class="col-md-8 col-sm-12 pt-2">
      <p class="silkscreen text-white">Created by 
        <a class="text-white" href="https://mperleo.github.io/MykiDashboard/" role="button">MykiStudio.</a>
        <a class="mx-3 text-white" href="https://github.com/mperleo" role="button">
          <i class="fab fa-github"></i>
        </a>
      </p>
    </div>
    
      
  </footer>